__pycache__
.idea/
.git/
.github/
.pytest_cache/
.gitignore
static/
README.md
Dockerfile
docker
compose.yml
compose.override.yml
compose.override.yml.example
*.env
*.venv
.venv
venv
.python-version
.dockerignore