x-common-depends-on: &common-depends-on
  migrate:
    condition: service_completed_successfully
  database:
    condition: service_healthy
  azurite:
    condition: service_healthy

x-common-env: &common-env
  SECRET_KEY: "insecure"
  AUTHORIZATION_TOKEN: "auth-token"
  GET_AUTHORIZATION_TOKEN: "get-auth-token"
  AZURITE_CONNECTION_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;"
  OIDC_BASE_URL: "https://login.microsoftonline.com/72fca1b1-2c2e-4376-a445-294d80196804"
  OIDC_RP_CLIENT_ID:
  OIDC_RP_CLIENT_SECRET:
  OIDC_RP_SCOPES:
  OIDC_OP_ISSUER:
  OIDC_VERIFY_AUDIENCE: true
  OIDC_TRUSTED_AUDIENCES:
  OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_REQUEST: ".*"
  OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_RESPONSE: ".*"
  OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317

volumes:
  azurite_data:
  db_data:

services:
  database:
    image: postgis/postgis:15-3.4
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: statistiek_hub
      POSTGRES_USER: statistiek_hub
      POSTGRES_PASSWORD: insecure
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U statistiek_hub -d statistiek_hub
      interval: 10s
      timeout: 1s
      retries: 5

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000"  # Blob service
      - "10001:10001"  # Queue service
    volumes:
      - azurite_data:/data
    command: >
      azurite 
      -l /data 
      --blobHost 0.0.0.0 
      --queueHost 0.0.0.0
      --loose
    healthcheck:
      test: nc 127.0.0.1 10000 -z
      interval: 1s
      retries: 30

  otel-collector:
    build:
      context: otel-collector
    image: ${REGISTRY:-localhost:5000}/${REPOSITORY:-opdrachten/statistiekhub-otel-collector}:${VERSION:-latest}
    volumes:
      - ./otel-collector/config.local.yaml:/etc/otelcol-contrib/config.yaml
    depends_on:
      - jaeger
    ports:
      - "4317:4317"
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 256M
        reservations:
          cpus: "0.05"
          memory: 128M

  jaeger:
    image: jaegertracing/jaeger:2.8.0
    ports:
      # ui
      - "16686:16686"
      # grpc
      - "14317:4317"
    environment:
      LOG_LEVEL: debug

  app:
    image:  ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-opdrachten/statistiekhub}:${VERSION:-latest}
    build:
      context: .
      target: app
    environment:
      <<: *common-env
      DEBUG: false
      DJANGO_SETTINGS_MODULE: main.settings
    depends_on:
      <<: *common-depends-on
      otel-collector:
        condition: service_started
    volumes:
      - .:/app
    user: 1000:1000
    command: /app/deploy/docker-run.sh

  dev:
    build:
      context: .
      target: dev
    environment:
      <<: *common-env
      LOG_LEVEL: "DEBUG"
      DEBUG: "True"
      DJANGO_LOG_LEVEL: "DEBUG"
      DJANGO_SUPERUSER_PASSWORD: "admin"
      DJANGO_SUPERUSER_USERNAME: "admin"
      DJANGO_SUPERUSER_EMAIL: "admin@amsterdam.nl"
    depends_on:
      <<: *common-depends-on
      otel-collector:
        condition: service_started
    volumes:
      - .:/app
    user: 1000:1000
    command: python manage.py runserver 0.0.0.0:8000

  celery:
    build:
      context: .
      target: app
    environment:
      <<: *common-env
      DEBUG: true
      DJANGO_SETTINGS_MODULE: main.settings
      OTEL_SDK_DISABLED: true
    depends_on:
      <<: *common-depends-on
    volumes:
      - .:/app
    user: 1000:1000
    command: celery -A main worker -l INFO
    deploy:
      resources:
        limits:
          cpus: "0.6"
          memory: 1G
        reservations:
          cpus: "0.3"
          memory: 512M

  test:
    build:
      context: .
      target: tests
    environment:
      <<: *common-env
      DJANGO_SETTINGS_MODULE: "main.settings"
      OIDC_RP_CLIENT_ID: tests
      OIDC_RP_CLIENT_SECRET: tests
      OTEL_EXPORTER: "none"
      OTEL_SDK_DISABLED: true
      CELERY_TASK_ALWAYS_EAGER: true
    depends_on:
      database:
        condition: service_healthy
      azurite:
        condition: service_healthy
    volumes:
      - .:/app

  migrate:
    build:
      context: .
      target: app
    environment:
      SECRET_KEY: "insecure"
      DJANGO_SETTINGS_MODULE: main.settings
      OTEL_SDK_DISABLED: true
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - .:/app
    user: 1000:1000
    command: python manage.py migrate --noinput
    restart: "no"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512mb
        reservations:
          cpus: "0.25"
          memory: 256M

  linting:
    build:
      context: .
      target: linting
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
    user: 1000:1000
