# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

django
django-import-export[xlsx, pandas]
django-db-views
django-leaflet
django-storages[azure]
psycopg2-binary
python-dateutil
pandas
timeout-decorator
mozilla-django-oidc

# Azure
azure-core
azure-identity==1.14  # 1.15 leads to incompatible version dependencies right now
azure-storage-blob
azure-keyvault
azure-keyvault-secrets
azure-storage-queue

# OpenTelemetry
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
opentelemetry-sdk