# Tools for maintaining requirements.txt:
pip-tools

Django<6  # Do not upgrade to Django 6 yet!

# Useful extra developer packages:

pytest<8  # 8 breaks pytest-django with error on /root/__init__.py
pytest-cov
pytest-django
model-bakery