# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

django<4.2  # Django 4.2 does not support Postgres 11 anymore
django-import-export
django-db-views
django-leaflet
psycopg2-binary
python-dateutil
pandas
celery
django-import-export-celery