name: Linting

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install dependencies
        run: pip install -r requirements_linting.txt

      - name: Run ruff check
        run: ruff check .

      - name: Run ruff format check
        run: ruff format --diff .
